*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: auto;
    justify-content: center;
    height: 800px;
    width: 100%;
    font-size: 48px;

}

.header {
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    align-items: center;
    gap: 24px;
}

#texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div > img:hover {
    transform: scale(1.2);
    border: black 6px solid;
}

button {
    padding: 50px;
    font-size: 25px;
}

.footer {
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#reset-button {
    height: 100px;
}
img#reset-button:hover {
    transform: rotate(-360deg);
    transition-duration: 2s;
}

#github-icon {
    height: 40px;
}

/* .tooltip {
    position: relative;
    display: inline-block;
} */
.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: yellow;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 24px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}